<html>
  <head>
    <title>Hello Handlebars</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <p>Your age is {{age}}.</p>

    <ul>
      {{#each hobbies}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>